#one{
    color : black;
    background-color: rgb(89, 29, 230);
    width : 500px
}

.para{
    color : black
}

.two{
    color :rgb(255, 0, 174)
     
}

.remove{
    color: red;
}
.up{
    color :coral
}
.down{
    color :rgb(59, 48, 56)
}









